*{
    color: #f5f5f5;
}
nav{
    background: linear-gradient(100deg,#160e73,#af309b);

}
.ImagemLogoNavbar{
    width: 150px;
}
.DestaqueBottom{
    color: #160e73 ;
}
.CorDoBottom{
    background: #52eb8b;
    border-radius: 11px;
}
.DestaqueBottom:hover{
    color: #08ee5d;
}
.CorLinkNavbar{
    color: #f5f5f5;
}
.ImagemTela01{
    background: url("./imagens/FUNDO_1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Posicionamento{
    padding: 100px;
}
.PosicionamentoTela2{
    padding: 100px;
}
.LogoDestaqueTela01{
    width: 100%;
}
.DestaqueH1Tela01{
    font-weight: 300;
}
.BotãoTela01{
    width: 100%;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    background: #52eb8b;
    border-radius: 11px;
}
.ImagemTela02{
    background: url("./imagens/FUNDO_2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Checklist{
    width: 50px;
    margin-left: -35px;
}
.BordaColunaChecklist{
    border: 1px solid;
    border-color: #52eb8b;
    border-radius: 15px;
    width: 30%;
    height: 100%;
    background: #0a0a25;
}
.BordaColunaChecklist1{
    border: 1px solid;
    border-color: #52eb8b;
    border-radius: 15px;
    width: 40%;
    height: 100%;
    background: #0a0a25;
}
.BordaColunaChecklist2{
    border: 1px solid;
    border-color: #52eb8b;
    border-radius: 15px;
    width: 50%;
    height: 100%;
    background: #0a0a25;
}
.BordaColunaChecklist3{
    border: 1px solid;
    border-color: #52eb8b;
    border-radius: 15px;
    width: 60%;
    height: 100%;
    background: #0a0a25;
}
.ParágrafoChecklist{
    margin: auto;
}
.FonteH1Tela02{
    font-weight: 600;
}
.AjustesButtomTela20{
    width: 40%;
    padding: 10px;
}
.DestaqueBottomTel2{
    color: #160e73 ;
    font-weight: 900;
    font-size: 20px;
}
.DestaqueBottomTel2:hover{
    color: #08ee5d;
}
.ImagemTela03{
    background: url("./imagens/FUNDO_3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.PosicionamentoDosCardsTela02{
    padding: 50px;
}
.PadingH1Tela02{
    padding: 50px;
}
.H1Tela03{
    text-align: center;
    font-weight: 700;
}
.CAIXA1{
    margin: auto;
    width: 100px;
    margin-left: 80px;
    margin-top: 10px;
}
.CAIXA2{
    margin: auto;
    width: 150px;
    margin-left: 55px;
}
.CAIXA3{
    margin: auto;
    width: 130px;
    margin-left: 65px;
}
.CardTela02{
    background: #0a0a25;
    border: 1px solid #08ee5d;
    border-radius: 15px;
    width: 16rem; 
    height: 220px;
    margin: auto;
}
.BodyCardTela02{
    text-align: center;
    margin-top: 5px;
}
.DestaqueH1Tela02{
    text-align: center;
}
 .íconeTela02{
    width: 100px;
}
.PTela02{
    text-align: center;
}
.Centralizar{
    text-align: center;
} 
.ImagemTela04{
    background: url("./imagens/FUNDO_4.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.CorTela04{
    color: #160e73;
}
.DestaqueH1{
    background: #08ee5d;
}
.DestaqueH1Tela04{
    font-weight: 700;
}
.DestaquePTela04{
    font-weight: 700;
    font-size: 35px;
    color: #af309b;
    margin-top: -25px;
}
.BordaColunaTela04{
    border: 1px solid;
    border-radius: 15px;
    border-color: #af309b;
    height: 100%;  
    margin-top: 90px; 
}
.DestaqueP2Tela04{
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    color: #0a0a25;
}
.DestaqueP3Tela04{
    font-size:55px;
    font-weight: 900;
    text-align: left;
    color: #0a0a25;
}
.BackgroundTela04Text{
    background: #e2e2ed;
    width: 300px;
    text-align: center;
}
.PosicaoPTela04{
    margin-top: 100px;
    text-align: left;
}
.PosicaoPTela4{
    color: #160e73;
}
.posicionamentobotaotela4{
    margin-top: 80px;
}
.PosicionamentoTela05{
    padding: 2%;
}
.CorDaTela05{
    background: #0a0a25;
}
.PTela05{
    font-size: 25px;
    font-weight: 500;
}
.ÍconeWhatsApp{
    width: 50px;
}
.CorButtomTela05{
    background: #160e73;
}
.CorTela06{
    background: linear-gradient(100deg,#160e73,#af309b);
}
.LogoFooter{
    width: 100%;
}
.PosicionamentoFooter{
    padding: 50px;
}
.LogoBrainUp{
    width: 75px;
}
#icons-footer .icone {
    width: 50px;
    height: 50px;
    background: transparent;
    color: #f5f5f5;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 40px;
}
@media (max-width: 576px) {
    .Posicionamento{
        padding: 35px;
        margin: auto;
    }
    .PosicionamentoTela2{
        padding: 0;
    }
    .BotãoTela01{
        padding: 3px;
        font-size: 20px;
    }
    .Checklist{
        width: 50px;
        margin-left: -35px;
    }
    .BordaColunaChecklist{
        border-color: #52eb8b;
        width: 100%;
    }
    .BordaColunaChecklist1{
        border-color: #52eb8b;
        width: 100%;
    }
    .BordaColunaChecklist2{
        border-color: #52eb8b;
        width: 100%;
    }
    .BordaColunaChecklist3{
        border-color: #52eb8b;
        width: 100%;
    }
    .ParágrafoChecklist{
        margin: auto;
        font-size: 15px;
    }
    .FonteH1Tela02{
        font-weight: 600;
    }
    .AjustesButtomTela20{
        width: 100%;
        padding: 5px;
    }
    .DestaqueBottomTel2{
        font-size: 15px;
    }
    .CardTela02{
        background: #0a0a25;
        border: 1px solid #08ee5d;
        border-radius: 15px;
    }
    .BodyCardTela02{
        text-align: center;
        margin-top: 5px;
    }
    .DestaqueH1Tela02{
        text-align: center;
    }
     .íconeTela02{
        width: 50px;
    }
    .PTela02{
        text-align: center; 
    }
    .PadingH1Tela02{
        padding: 0;
        margin-bottom: 35px;
    }
    .Centralizar{
        width: 30%;
    }
    br{
        display: none;
    }
    .DestaqueP3Tela04{
        font-size: 30px;
    }
    .DestaqueP2Tela04{
        font-size: 20px;
    }
    .DestaquePTela04{
        font-size: 30px;
    }
    .BordaColunaTela04{
        margin-top: 30px;
    }
    .PosicaoPTela04{
        margin-top: 30px;
    }
    .posicionamentobotaotela4{
        margin-top: 0px;
    }
    .PosicionamentoTela05{
        padding: 5%;
    }
    .PosicaoBotaoTela5{
        text-align: center;
    }
}
@media (min-width: 568px) and (max-width: 768px) {
/* início da tela 02 */
    .Posicionamento{
        padding: 50px;
    }
    .PosicionamentoTela2{
        padding: 10px;
        margin: 0px;
    }
    .PosicionamentoDosCardsTela02{
        padding: 0px;
        margin-top: 15px;
    }
    .BordaColunaChecklist{
        border-color: #52eb8b;
        width: 100%;
    }
    .BordaColunaChecklist1{
        border-color: #52eb8b;
        width: 100%;
    }
    .BordaColunaChecklist2{
        border-color: #52eb8b;
        width: 100%;
    }
    .BordaColunaChecklist3{
        border-color: #52eb8b;
        width: 100%;
    }
    .ParágrafoChecklist{
        margin: auto;
        font-size: 15px;
    }
    .FonteH1Tela02{
        font-weight: 600;
    }
    .AjustesButtomTela20{
        width: 100%;
        padding: 5px;
    }
    .DestaqueBottomTel2{
        font-size: 15px;
    }
    .CardTela02{
        background: #0a0a25;
        border: 1px solid #08ee5d;
        border-radius: 15px;
    }
    .BodyCardTela02{
        text-align: center;
        margin-top: 5px;
    }
    .PosicaoImagemCardTela2{
        text-align: center;
    }
    .CAIXA1{
        margin: auto;
        width: 100px;
        margin-top: 10px;
    }
    .CAIXA2{
        margin: auto;
        width: 150px;
    }
    .CAIXA3{
        margin: auto;
        width: 130px;
    }
    .DestaqueH1Tela02{
        text-align: center;
    }
     .íconeTela02{
        width: 50px;
    }
    .PTela02{
        text-align: center; 
    }
    .PadingH1Tela02{
        padding: 0;
        margin-bottom: 35px;
    }
    .Centralizar{
        width: 30%;
    }
   
    .DestaqueP3Tela04{
        font-size: 30px;
    }
    .DestaqueP2Tela04{
        font-size: 20px;
    }
    .DestaquePTela04{
        font-size: 30px;
    }
    .BordaColunaTela04{
        margin-top: 30px;
    }
    .PosicaoPTela04{
        margin-top: 30px;
    }
    .posicionamentobotaotela4{
        margin-top: 0px;
    }
    .PosicionamentoTela05{
        padding: 5%;
    }
    .PosicaoBotaoTela5{
        text-align: center;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .BotãoTela01{
        width: 500px;
        max-width: 100%;
    }
    .PosicaoBotaoTela1{
        text-align: center;
    }
    /* começando pela tela 02 */

    .Posicionamento{
        padding: 50px;
    }
    .PosicionamentoTela2{
        padding: 10px;
        margin: 0px;
    }
    .PosicionamentoDosCardsTela02{
        padding: 0px;
        margin-top: 15px;
    }
    .BordaColunaChecklist{
        border-color: #52eb8b;
        width: 85%;
    }
    .BordaColunaChecklist1{
        border-color: #52eb8b;
        width: 90%;
    }
    .BordaColunaChecklist2{
        border-color: #52eb8b;
        width: 95%;
    }
    .BordaColunaChecklist3{
        border-color: #52eb8b;
        width: 100%;
    }
    .ParágrafoChecklist{
        margin: auto;
        font-size: 15px;
    }
    .FonteH1Tela02{
        font-weight: 600;
    }
    .AjustesButtomTela20{
        width: 500px;
        padding: 5px;
    }
    .DestaqueBottomTel2{
        font-size: 15px;
    }
    .CardTela02{
        background: #0a0a25;
        border: 1px solid #08ee5d;
        border-radius: 15px;
    }
    .BodyCardTela02{
        text-align: center;
        margin-top: 5px;
    }
    .PosicaoImagemCardTela2{
        text-align: center;
    }
    .CAIXA1{
        margin: auto;
        width: 100px;
        margin-top: 10px;
    }
    .CAIXA2{
        margin: auto;
        width: 150px;
    }
    .CAIXA3{
        margin: auto;
        width: 130px;
    }
    .DestaqueH1Tela02{
        text-align: center;
    }
     .íconeTela02{
        width: 50px;
    }
    .PTela02{
        text-align: center; 
    }
    .PadingH1Tela02{
        padding: 0;
        margin-bottom: 35px;
    }
    .Centralizar{
        width: 30%;
    }
    
    .DestaqueP3Tela04{
        font-size: 30px;
    }
    .DestaqueP2Tela04{
        font-size: 20px;
    }
    .DestaquePTela04{
        font-size: 30px;
    }
    .BordaColunaTela04{
        margin-top: 30px;
    }
    .PosicaoPTela04{
        margin-top: 30px;
    }
    .posicionamentobotaotela4{
        margin-top: 0px;
    }
    .PosicionamentoTela05{
        padding: 5%;
    }
    .PosicaoBotaoTela5{
        text-align: center;
    }
}
@media (min-width: 993px) {
    .BotãoTela01{
        width: 500px;
        max-width: 100%;
    }
    .PosicaoBotaoTela1{
        text-align: center;
    }
    /* começando pela tela 02 */

    .Posicionamento{
        padding: 50px;
    }
    .PosicionamentoTela2{
        padding: 10px;
        margin: 0px;
    }
    .PosicionamentoDosCardsTela02{
        padding: 0px;
        margin-top: 15px;
    }
    .BordaColunaChecklist{
        border-color: #52eb8b;
        width: 45%;
    }
    .BordaColunaChecklist1{
        border-color: #52eb8b;
        width: 50%;
    }
    .BordaColunaChecklist2{
        border-color: #52eb8b;
        width: 55%;
    }
    .BordaColunaChecklist3{
        border-color: #52eb8b;
        width: 60%;
    }
    .ParágrafoChecklist{
        margin: auto;
        font-size: 15px;
    }
    .FonteH1Tela02{
        font-weight: 600;
    }
    .AjustesButtomTela20{
        width: 500px;
        padding: 5px;
    }
    .DestaqueBottomTel2{
        font-size: 15px;
    }
    .CardTela02{
        background: #0a0a25;
        border: 1px solid #08ee5d;
        border-radius: 15px;
    }
    .BodyCardTela02{
        text-align: center;
        margin-top: 5px;
    }
    .PosicaoImagemCardTela2{
        text-align: center;
    }
    .CAIXA1{
        margin: auto;
        width: 100px;
        margin-top: 10px;
    }
    .CAIXA2{
        margin: auto;
        width: 150px;
    }
    .CAIXA3{
        margin: auto;
        width: 130px;
    }
    .DestaqueH1Tela02{
        text-align: center;
    }
     .íconeTela02{
        width: 50px;
    }
    .PTela02{
        text-align: center; 
    }
    .PadingH1Tela02{
        padding: 0;
        margin-bottom: 35px;
    }
    .Centralizar{
        width: 30%;
    }
    
    .DestaqueP3Tela04{
        font-size: 30px;
    }
    .DestaqueP2Tela04{
        font-size: 20px;
    }
    .DestaquePTela04{
        font-size: 30px;
    }
    .BordaColunaTela04{
        margin-top: 30px;
    }
    .PosicaoPTela04{
        margin-top: 30px;
    }
    .posicionamentobotaotela4{
        margin-top: 0px;
    }
    .PosicionamentoTela05{
        padding: 5%;
    }
    .PosicaoBotaoTela5{
        text-align: center;
    }
}